.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 99;

  svg {
    color: var(--color-orange);
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 90%;
    }
  }

  @media (max-width: 1600px) {
    bottom: 30px;
    right: 30px;
  }

  @media (max-width: 1024px) {
    bottom: 25px;
    right: 25px;
  }

  @media (max-width: 768px) {
    bottom: 20px;
    right: 20px;
  }
}
