.technologies {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

  div p {
    font-weight: bold;
  }

  div:hover {
    transform: scale(1.05);
  }

  @media (max-width: 1600px) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
}

.icon {
  font-size: 65px;

  @media (max-width: 1600px) {
    font-size: 55px;
  }
  @media (max-width: 1024px) {
    font-size: 45px;
  }
  @media (max-width: 768px) {
    font-size: 35px;
  }
}
