.header {
  align-items: center;
  font-size: 44px;
  display: flex;
  margin-top: 80px;

  @media (max-width: 1600px) {
    font-size: 36px;
    margin-top: 80px;
  }

  @media (max-width: 1024px) {
    font-size: 32px;
    gap: 1px;
  }
}

.blink {
  animation: blink 1s infinite;
  color: var(--color-orange);

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
