.contact {
  height: 100%;
  max-height: 1000px;
  background-color: #121212;
}

.footer {
  height: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info {
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: var(--color-gray-300);
  h2 {
    font-size: 20px;
  }

  span {
    max-width: 700px;
    line-height: 22px;
  }
}
.phone {
  text-decoration: none;
  button {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
}

.midias {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  fill: var(--color-gray-300);
  cursor: pointer;
}

.namingRights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-300);
  gap: 10px;

  p {
    display: flex;
    gap: 5px;

    a,
    span {
      text-decoration: none;
      color: var(--color-orange);
    }
  }
}
