.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;

  @media (max-width: 1600px) {
    gap: 60px;
  }

  @media (max-width: 1024px) {
    gap: 40px;
  }

  @media (max-width: 768px) {
    gap: 40px;
    height: auto;
  }
}

.grid {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 0px 40px;
  align-items: center;
  gap: 20px;

  @media (max-width: 1600px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
}

.img {
  img {
    width: 80%;
    border-radius: 50%;
    opacity: 87%;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 100%;
    }
  }

  @media (max-width: 1600px) {
    img {
      width: 70%;
    }
  }

  @media (max-width: 1024px) {
    width: 100%;

    img {
      width: 80%;
    }
  }

  @media (max-width: 768px) {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    font-size: 32px;

    strong {
      font-size: 33px;
      color: #ff8c00;
    }
  }

  @media (max-width: 1600px) {
    p {
      font-size: 18px;

      strong {
        font-size: 19px;
      }
    }
  }

  @media (max-width: 1024px) {
    gap: 15px;

    p {
      font-size: 26px;

      strong {
        font-size: 27px;
      }
    }
  }

  @media (max-width: 768px) {
    p {
      font-size: 16px;

      strong {
        font-size: 16px;
      }
    }
  }
}

.header {
  align-items: center;
  font-size: 44px;
  display: flex;

  @media (max-width: 1600px) {
    font-size: 36px;
    margin-top: 30px;
  }

  @media (max-width: 1024px) {
    font-size: 32px;
    gap: 1px;
  }
}

.blink {
  animation: blink 1s infinite;

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
