.textContainer {
  display: inline-flex;
  align-items: center;
  font-size: 110px;
  width: 250px;
  justify-content: center;
  white-space: nowrap;
  margin-left: 80px;
  color: #293541;
  text-align: center;

  @media (max-width: 1600px) {
    font-size: 90px;
  }

  @media (max-width: 1024px) {
    font-size: 70px;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 30px;
  }
}

.cursor {
  margin-left: 2px;
  opacity: 1;
  animation: blink 0.7s infinite;
  margin-bottom: 10px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
