.home {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.cta {
  color: #94a0ac;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  gap: 120px;
  h1 {
    font-size: 70px;
    font-weight: bold;
    color: #536272;
  }

  .midias {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 20px;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 40px;
    }
  }
}
