:root {
  --background: #f2f2f2;
  --background-dark: #312e2e;
  --color-orange: #ff8c00;
  --color-white: #fff;
  --color-black: #121212;
  --color-gray-900: #28292b;
  --color-gray-700: #293541;
  --color-gray-500: #536272;
  --color-gray-300: #94a0ac;
  --color-gray-100: #9ca8b4;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

header {
  background-color: var(--background);
}
