@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  --color-orange: #ff8c00;
  --color-white: #fff
  --color-black: #000000;
  --color-gray-700: #293541;
  --color-gray-500: #536272;
  --color-gray-300: #94a0ac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}
