@import "./index.scss";

.main {
  width: 100%;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.cta {
  color: var(--color-gray-300);
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  gap: 120px;
  h1 {
    font-size: 70px;
    font-weight: bold;
    color: var(--color-gray-500);
  }

  .midias {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 20px;
  }

  @media (max-width: 1600px) {
    h1 {
      font-size: 60px;
    }
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 50px;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 40px;
    }
  }
}

.main.darkMode {
  background-color: var(--background-dark);
  color: var(--color-white);
}
